<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:insert="~{auth/navbar.html :: navbar}">
  </th:block> /*/-->
<form class="row-cols-4" th:method="POST" th:action="@{/perform-login}">
    <label for="username">Введите имя пользователя: </label>
    <input class="form-control" type="text" name="username" id="username"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input class="form-control" type="password" name="password" id="password"/>
    <input class="btn btn-primary" type="submit" value="Войти"/>
    <div th:if="${param.error}" style="color: red">Неправильные имя или пароль</div>
</form>
</body>
</html>