<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <!--/*/ <th:block th:insert="~{admin/navbar.html :: navbar}">
      </th:block> /*/-->
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row align-items-center" style="height: 100px;">
            <div class="col-2 text-center"><b>Имя пользователя</b></div>
            <div class="col-2 text-center"><b>Роль</b></div>
            <div class="col-2 text-center"><b>Имя</b></div>
            <div class="col-2 text-center"><b>Фамилия</b></div>
            <div class="col-2 text-center"><b>Почта</b></div>
            <div class="col-2 text-center"><b>Дата рождения</b></div>

        </div>
        <div class="row align-items-center" th:each="user : ${user}">
            <div class="col-2 text-center"><a class="nav-link" th:href="@{/admin/{id}(id=${user.id})}"
                                              th:text="${user.username}"
                                              id="text">user</a></div>
            <div class="col-2 text-center" th:text="${user.role.getRole()}"></div>
            <div class="col-2 text-center" th:text="${user.firstName}"></div>
            <div class="col-2 text-center" th:text="${user.lastName}"></div>
            <div class="col-2 text-center" th:text="${user.email}"></div>
            <div class="col-2 text-center" th:text="${user.dateOfBirth}"></div>


            <div class="col-1"></div>
        </div>
    </div>
</div>
</body>
</html>