<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали запроса</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/codeSaga.css}">
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="logo">
            <i>⚡</i> CodeSaga - Детали
        </div>
    </div>
</div>

<div class="container">
    <div class="nav">
        <a href="/" th:href="@{/codesaga/}">Главная</a>
        <a href="/reviewHistory" th:href="@{/codesaga/reviewHistory}">История запросов</a>
        <a href="/export" th:href="@{/codesaga/export}">Экспорт кода</a>
        <a href="/codesaga/export" th:href="@{/}">Notebook</a>
    </div>

    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Детали запроса</h1>
        </div>
        <div class="card-body">
            <h3>ID: <span th:text="${requestedData.id}"></span></h3>

            <div class="form-group">
                <label class="form-label">Входной текст:</label>
                <pre th:text="${requestedData.requestedData}"></pre>
            </div>

            <div class="actions">
                <button onclick="window.location.href='/'" class="btn">Создать новый</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>