<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали запроса</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/codeSaga.css}">
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<div class="container">
    <div class="nav">
        <a th:href="@{/codesaga/}">Главная</a>
        <a th:href="@{/codesaga/reviewHistory}">История запросов</a>
        <a th:href="@{/codesaga/export}">Экспорт кода</a>
    </div>

    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Детали запроса</h1>
        </div>
        <div class="card-body">
            <h3>ID: <span th:text="${requestedData.id}"></span></h3>

            <div class="form-group">
                <label class="form-label">Входной текст:</label>
                <pre th:text="${requestedData.requestedData}"></pre>
            </div>

            <div class="actions">
                <button onclick="window.location.href='/'" class="btn">Создать новый</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>