html {
    font-size: 16px;
}

body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

/* Header */
.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}
/* Header */