<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="dropDownMenu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i
            class="far fa-user"></i></a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/user/profile">Мой профиль</a></li>
      <li><a class="dropdown-item" href="/logout">Выйти</a></li>
    </ul>
  </li>
</div>
</body>
</html>