<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="app-navbar">
    <div class="app-navbar-inner">
        <a class="app-navbar-brand" th:href="@{/notebook}">
            <img th:src="@{/images/notebook.png}" alt="Notebook6"/>
            <span>Notebook6</span>
        </a>
        <button class="app-navbar-toggle" type="button" onclick="document.querySelector('.app-navbar-links').classList.toggle('open')" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="app-navbar-links">
            <li><a th:href="@{/notebook}"><i class="fa-solid fa-note-sticky"></i> Заметки</a></li>
            <li class="app-navbar-dropdown" sec:authorize="hasRole('ADMIN')">
                <a href="#" onclick="return false;"><i class="fa-solid fa-toolbox"></i> Инструменты <i class="fa-solid fa-caret-down"></i></a>
                <ul class="app-navbar-dropdown-menu">
                    <li><a th:href="@{/codesaga/}"><i class="fa-solid fa-bolt"></i> CodeSaga</a></li>
                    <li><a th:href="@{/subeditor/upload}"><i class="fa-solid fa-film"></i> SubEditor</a></li>
                    <li><a th:href="@{/translator}"><i class="fa-solid fa-language"></i> Переводчик</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ADMIN')">
                <a class="app-navbar-admin" th:href="@{/admin}"><i class="fa-solid fa-user-shield"></i> Админка</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i> Выйти</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}"><i class="fa-solid fa-right-to-bracket"></i> Войти</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
