<!DOCTYPE html>
<html lang="en">
<head>
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
<!--/*/ <th:block th:insert="~{error/navbar.html :: navbar}">
      </th:block> /*/-->
<div class="row align-items-end" style="height: 300px;color: red;">
    <div class="col-1"></div>
    <div class="col text-center">
        <i class="fa-solid fa-triangle-exclamation fa-bounce fa-2xl"></i>
        <h1>300</h1>
        <h1>ERROR</h1>
        <h2>Something went wrong</h2>
    </div>
    <div class="col-1"></div>
</div>
</body>
</html>