<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--/*/ <th:block th:insert="~{notebook/headers/header.html :: navbar}">
        </th:block> /*/-->
</head>
<body>
<form th:method="POST" th:action="@{/person}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="secondName">Enter age: </label>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="date_of_birth">Enter date of birth (dd/mm/yyyy): </label>
    <input type="text" th:field="*{dateOfBirth}" id="date_of_birth"/>
    <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}"
         th:errors="*{dateOfBirth}">Date of birth Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>