<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes</title>
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body class="d-flex flex-column min-vh-100">

<!--/*/ <th:block th:insert="~{notebook/navbar.html :: navbar}">
      </th:block> /*/-->
<hr/>
<div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row align-items-center" style="height: 100px;">
            <div class="col-3 text-center"><b>Название</b></div>
            <div class="col-1 text-center"><b>Копир.</b></div>
            <div class="col-3 text-center"><b>Создатель</b></div>
            <div class="col-2 text-center"><b>Важность</b></div>
            <div class="col-2 text-center"><b>Изменить</b></div>
            <div class="col-1 text-center"><b>Удалить</b></div>
        </div>
        <div class="row align-items-center row-list" th:each="notebook : ${notebook}">

            <li class="col-3 text-center">
                <div class="text-wrap text-center" style="width: 100%;" data-bs-toggle="dropdown"
                   th:text="${notebook.title}"></div>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:text="${notebook.text}"
                       th:href="@{/notebook/{id}(id=${notebook.id})}"></a>
                </ul>
            </li>

            <div class="col-1 text-center">
                <input type="hidden" th:value="*{notebook.text}" th:id="${notebook.id}">
                <button class="btn btn-outline-primary" th:onclick="'copyText(\'' + ${notebook.id} + '\')'"><i
                        class="fa-solid fa-copy"></i></button>
                <script th:inline="javascript">
                    function copyText(id) {
                        const textArea = document.createElement("textarea");
                        const copyText = document.getElementById(id)
                        copyText.select()
                        textArea.value = copyText.value;
                        document.body.appendChild(textArea);
                        textArea.focus();
                        textArea.select();
                        try {
                            document.execCommand('copy');
                        } catch (err) {
                            console.error('Unable to copy to clipboard', err);
                        }
                        document.body.removeChild(textArea);
                    }
                </script>
                <form th:id="${notebook.id} + 'delete'" th:method="DELETE"
                      th:action="@{/notebook/{id}(id=${notebook.id})}">
                </form>
            </div>

            <div class="col-3 text-center" th:text="${notebook.user.firstName} + ' ' + ${notebook.user.lastName}"></div>
            <div class="col-2 text-center" th:text="${notebook.position}">
            </div>
            <div class="col-2 text-center">
                <a class="nav-item" th:if="${authUser.getId() == notebook.user.getId()}"
                   th:href="@{/notebook/{id}/edit(id=${notebook.id})}"><i
                        class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <div class="col-1 text-center">
                <a class="nav-item" th:if="${authUser.getId() == notebook.user.getId()}"
                   th:onclick="'document.getElementById(\'' + ${notebook.id}  + 'delete' + '\').submit()'"><i
                        class="fa-solid fa-trash"></i></a>
            </div>
        </div>
        <hr/>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="row justify-content-end" th:if="${allNones == '1'}">
<!--    <div class="col-1 align-items-end w-auto">-->
<!--        <label>-->
<!--            <select id="size" class="form-select form-select-sm">-->
<!--                <option value="25">25</option>-->
<!--                <option value="50">50</option>-->
<!--                <option value="75">75</option>-->
<!--                <option value="100">100</option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </div>-->
    <div class="col-1 align-items-end w-auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link" th:href="@{notebook(allNotes=1,page=${page <= 0? 0:page - 1})}">Пред</a></li>
                <li class="page-item"><a class="page-link" th:href="@{notebook(allNotes=1,page=${notebook.isEmpty()?page:page+1})}">След</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-1"></div>
</div>
<!--/*/ <th:block th:insert="~{footers/footer.html :: footer}">
  </th:block> /*/-->
</body>
</html>