<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--/*/ <th:block th:insert="~{notebook/navbar.html :: navbar}">
      </th:block> /*/-->
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body>
<div class="row align-items-end" style="height: 400px;">
    <div class="col">
    </div>
    <div class="col-8 col-md-7 col-xl-5 text-center">
        <form id="createForm" class="row-cols-4" th:method="PATCH" th:action="@{/notebook/{id}(id=${notebook.id})}" th:object="${notebook}">
            <input class="form-control" type="text" th:field="*{title}" id="name" placeholder="Заголовок"/>
            <a style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error
            </a>
            <br/>
            <textarea class="form-control" style="height: 200px; resize: none" type="text" th:field="*{text}" id="secondName" placeholder="Текст записи"></textarea>
            <a style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">text Error
            </a>
            <br/>
        </form>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-5 text-center">
        <input onclick=document.getElementById("createForm").submit() class="btn btn-primary" value="Сохранить изменения"/>
    </div>
    <div class="col"></div>
</div>
</body>
</html>