<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--/*/ <th:block th:insert="~{notebook/navbar.html :: navbar}">
        </th:block> /*/-->
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body>
<div class="row align-items-end" style="height: 300px;">
    <div class="col">
    </div>
    <div class="col-6 col-md-5 col-xl-3 text-center">
        <form id="createForm" class="row-cols-4" th:method="POST" th:action="@{/notebook}" th:object="${notebook}">
            <input class="form-control" type="text" th:field="*{title}" id="name" placeholder="Заголовок"/>
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error
            </div>
            <br/>
            <input class="form-control" type="text" th:field="*{text}" id="secondName" placeholder="Текст"/>
            <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">text Error
            </div>
            <br/>
        </form>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-5 text-center">
        <input onclick=document.getElementById("createForm").submit() class="btn btn-primary" value="Создать"/>
    </div>
    <div class="col"></div>
</div>
</body>
</html>