<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--/*/ <th:block th:insert="~{notebook/navbar.html :: navbar}">
        </th:block> /*/-->
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body>
<form class="row-cols-4" th:method="POST" th:action="@{/notebook}" th:object="${notebook}">
    <label for="name">Введите заголовок: </label>
    <input class="form-control" type="text" th:field="*{title}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}"
         th:errors="*{title}">title Error
    </div>
    <br/>
    <label for="secondName">Введите текст: </label>
    <input class="form-control" type="text" th:field="*{text}" id="secondName"/>
    <div style="color:red" th:if="${#fields.hasErrors('text')}"
         th:errors="*{text}">text Error
    </div>
    <br/>
    <input class="btn btn-primary" type="submit" value="Создать"/>
</form>
</body>
</html>