<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--/*/ <th:block th:insert="~{notebook/headers/header.html :: navbar}">
      </th:block> /*/-->
</head>
<body>
<table class="table">
    <tr>
        <th><label for="author_name">Автор записи:</label>
            <a class="nav-link" th:href="@{/person/{id}(id=${person.id})}"
               th:text="${person.firstName} + ${person.secondName}" id="author_name"></a></th>
    </tr>
    <tr>
        <td><label for="title">Заголовок:</label>
            <a th:text="${notebook.title}" id="title">qwe</a></td>
    </tr>
    <tr>
        <td><label for="text">Текст:</label>
            <a th:text="${notebook.text}" id="text"></a></td>
    </tr>
    <tr>
        <td><label for="date">Время создания:</label>
            <a th:text="${notebook.createdAt}" id="date"></a></td>
    </tr>
    <hr/>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/notebook/{id}/edit(id=${notebook.id})}">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
            <hr/>
            <form th:method="DELETE" th:action="@{/notebook/{id}(id=${notebook.id})}">
                <button type="submit" class="btn btn-primary">Удалить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>