<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note info</title>
    <!--/*/ <th:block th:insert="~{notebook/navbar.html :: navbar}">
      </th:block> /*/-->
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body class="d-flex flex-column min-vh-100">
<div class="row align-items-end" style="height: 300px;">
    <div class="col">
    </div>
    <div class="col-8 col-md-6 col-xl-4 text-center">
        <form>
            <div class="form-group row align-items-center">
                <label for="title" class="col-sm-2 col-form-label">Заголовок</label>
                <div class="col-sm-10">
                    <a th:text="${notebook.title}" id="title">qwe</a>
                </div>
            </div>
            <hr/>
            <div class="form-group row align-items-center">
                <label for="text" class="col-sm-2 col-form-label">Текст</label>
                <div class="col-sm-10">
                    <a th:text="${notebook.text}" id="text"></a>
                </div>
            </div>
            <hr/>
            <div class="form-group row align-items-center">
                <label for="author_name" class="col-sm-2 col-form-label">Автор</label>
                <div class="col-sm-10">
                    <a th:text="${notebook.user.firstName} + ' ' + ${notebook.user.lastName}"
                       id="author_name"></a>
                </div>
            </div>
            <hr/>
            <div class="form-group row align-items-center">
                <label for="dateCreated" class="col-sm-2 col-form-label">Дата создания</label>
                <div class="col-sm-10">
                    <a th:text="${notebook.createdAt}" id="dateCreated"></a>
                </div>
            </div>
            <hr/>
            <div class="form-group row align-items-center">
                <label for="dateUpdate" class="col-sm-2 col-form-label">Дата последнего обновления</label>
                <div class="col-sm-10">
                    <a th:text="${notebook.updatedAt}" id="dateUpdate"></a>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
<!--/*/ <th:block th:insert="~{footers/footer.html :: footer}">
  </th:block> /*/-->
</body>
</html>