<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p th:text="${notebook.get().head}">qwe</p>
<p th:text="${notebook.get().text}">qwe</p>
<a href="/notebook">Назад</a>
<br/>
<hr/>

<form th:method="GET" th:action="@{/notebook/{id}/edit(id=${notebook.get().id})}">
  <input TYPE="submit" value="Изменить">
</form>
<form th:method="DELETE" th:action="@{/notebook/{id}(id=${notebook.get().id})}">
  <input TYPE="submit" value="Удалить">
</form>
</body>
</html>