<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <!--/*/ <th:block th:insert="~{notebook/navbar.html :: navbar}">
      </th:block> /*/-->
    <!--/*/ <th:block th:insert="~{headers/header.html :: head}">
      </th:block> /*/-->
</head>
<body class="d-flex flex-column min-vh-100">
<div class="row align-items-end" style="height: 300px;">
    <div class="col">
    </div>
    <div class="col-8 col-md-6 col-xl-4 text-center">
        <form class="row-cols-1" th:method="PATCH" th:action="@{/user/{id}(id=${authUser.id})}" th:object="${authUser}">
            <input type="hidden" th:field="*{username}"/>
            <input type="hidden" th:field="*{password}"/>
            <input type="hidden" th:field="*{email}"/>
            <label for="name">Введите имя: </label>
            <input class="form-control" type="text" th:field="*{firstName}" id="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                 th:errors="*{firstName}">firstName Error
            </div>
            <br/>
            <label for="lastName">Введите фамилию: </label>
            <input class="form-control" type="text" th:field="*{lastName}" id="lastName"/>
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}">lastName Error
            </div>
            <br/>
            <label for="date_of_birth">Введите дату рождения (дд/мм/гггг): </label>
            <input class="form-control" type="date" th:field="*{dateOfBirth}" id="date_of_birth"/>
            <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}"
                 th:errors="*{dateOfBirth}">Date of birth Error
            </div>
            <br/>
            <input class="btn btn-primary" type="submit" value="Сохранить изменения!"/>
        </form>
    </div>
    <div class="col">
    </div>
</div>
<!--/*/ <th:block th:insert="~{footers/footer.html :: footer}">
  </th:block> /*/-->
</body>
</html>